<div style="margin: 20px;">
  <h1>Ejemplo de formularios reactivos</h1>
  <h3>Opinion del Cliente</h3>

  <div class="col-sm-4">
    <form [formGroup]="formOpinion" (ngSubmit)="onSubmit()">
      <p>
        Nombre: <input type="text" class="form-control" formControlName="nombre" /> 
        @if (enviado && formOpinion.get('nombre')?.errors?.['required']) {
          <span style="color: red;">Este campo es obligatorio </span>
        }
        @if (enviado && formOpinion.get('nombre')?.errors?.['minlength']) {
          <span style="color: red;">El nombre debe tener al menos 10 caracteres </span>
        }
      </p>
      <p>
        E-mail: <input type="text" class="form-control" formControlName="email" /> 
        @if (enviado && formOpinion.get('email')?.errors?.['required']) {
          <span style="color: red;">Este campo es obligatorio </span>
        }
        @if (enviado && formOpinion.get('email')?.errors?.['email']) {
          <span style="color: red;">El email proporcionado no es válido </span>
        }
      </p>
      <p>
        Es cliente registrado?: 
        <input type="radio"  formControlName="status" value="Si" />SI
        <input type="radio"  formControlName="status" value="No" />NO

        @if (enviado && formOpinion.get('status')?.errors?.['required']) {
          <span style="color: red;">Este campo es obligatorio </span>
        }
      </p>
      <p>
        Municipio: <select class="form-control" formControlName="municipio">
          <option value="Amealco">Amealco</option>
          <option value="San Juan del Rio">San Juan del Rio</option>
          <option value="Tequisquiapan">Tequisquiapan</option>
        </select>
        @if (enviado && formOpinion.get('municipio')?.errors?.['required']) {
          <span style="color: red;">Este campo es obligatorio </span>
        }
      </p>
      <p>
        Opinion: <br/>
        <textarea class="form-control" rows="10" cols="70" formControlName="opinion"></textarea>
        @if (enviado && formOpinion.get('opinion')?.errors?.['required']) {
          <span style="color: red;">Este campo es obligatorio </span>
        }
        @if (enviado && formOpinion.get('opinion')?.errors?.['minlength']) {
          <span style="color: red;">La opinion debe tener al menos 500 caracteres </span>
        }
      </p>
      <p>
        <input type="checkbox"  formControlName="autorizacion" /> Desea Autorizar sus datos personales? 
        @if (enviado && formOpinion.get('autorizacion')?.errors?.['required']) {
          <span style="color: red;">Este campo es obligatorio </span>
        }
      </p>
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>


    <div>
      @if (nombreCliente!= '' && emailCliente!='' && statusCliente!='' && municipioCliente!='' && opinionCliente!='' ) {
        <strong>  Datos enviados: </strong> <br/>
        Nombre: {{nombreCliente}} <br/>
        E-mail: {{emailCliente}} <br/>
        Cliente registrado: {{statusCliente}} <br/>
        Municipio: {{municipioCliente}} <br/>
        
        @if (autorizacionCliente) {
          El cliente autoriza compartir sus datos personales
        }@else {
          El cliente <strong>NO AUTORIZA</strong> NO autoriza compartir sus datos personales
        }
        Opinion: {{opinionCliente}}
      }
    </div>
</div>

<router-outlet></router-outlet>
